connect = host=127.0.0.1 dbname=postfixadmin user=postfixadmin password={{ispmail_mysql_mailuser_password}}
driver = mysql


# Default password scheme - change to match your Postfixadmin setting.                                                                                                                                                                        
# depends on your $CONF['encrypt'] setting:                                                                                                                                                                                                   
# md5crypt  -> MD5-CRYPT                                                                                                                                                                                                                      
# md5       -> PLAIN-MD5                                                                                                                                                                                                                      
# cleartext -> PLAIN                                                                                                                                                                                                                          
default_pass_scheme = MD5-CRYPT


password_query = SELECT username AS user,password FROM mailbox WHERE username = '%u' AND active='1'

user_query = SELECT CONCAT('/var/vmail/', maildir) AS home, {{ dovecot_uid }} AS uid, {{ dovecot_gid }} AS gid, CONCAT('*:bytes=', quota) AS quota_rule FROM mailbox WHERE username = '%u' AND active='1'
