<?php

$backends['sql'] = array (
    'name' => 'Mail SQL Server',
    'preferred' => '',
    'password policy' => array(
        'minLength' => 3,
        'maxLength' => 8,
        'maxSpace' => 0,
        'minUpper' => 1,
        'minLower' => 1,
        'minNumeric' => 1,
        'minSymbols' => 1
    ),
    'driver' => 'sql',
    'params' => array(
        'phptype' => 'mysql',
        'hostspec' => '127.0.0.1',
        'port' => '3306',
        'protocol' => 'tcp',
        'username' => '{{ ispmail_mysql_mailuser }}',
        'password' => '{{ ispmail_mysql_mailuser_password }}',
        'encryption' => '{{ password_encryption }}',
        'database' => '{{ ispmail_mysql_mail_db_name }}',
        'table' => 'mailbox',
        'user_col' => 'username',
        'pass_col' => 'password',
        'show_encryption' => false
    )
);
